.nest_device_container{
    width: 175px;
    margin: 25px auto;
}
.nest-box-shadow {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.7);
    box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.7);
}


/* Thermostats */


.nest_therm_border {
    display: inline-block;
    position: relative;
    height: 175px;
    width: 175px;
    background-color: #9FA5AB;
    z-index: 1000;
}


.obj_thermostat {
    display: block;
    position: relative;
    height: 163px;
    width: 163px;
    vertical-align: middle;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
}
.obj_thermostat_heating {
    background-color: #eb6d00;
}
.obj_thermostat_cooling {
    background-color: blue;
}
.obj_thermostat_off {
    background-color: #454657;
}
.obj_thermostat_offline {
    background-color: #B8B8BE;
}


.therm_temp_label {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);%;
    color: white;
}


.therm_temp_cmds {
    margin: 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1200;
}


.therm_temp_glyph {
    display: inline-block;
    font-size: 20px;
    margin: 0px 2px;
    cursor: pointer;
    color: white;
}
.therm_temp_glyph_online {
    visibility: visible;
}
.therm_temp_glyph_offline {
    visibility: hidden;
}


.img_leaf {
    margin: 10px auto;
    top: 0;
    width: 30px;
    height: 30px;
    z-index: 1200;
}
.leaf_true {
    visibility: visible;
}
.leaf_false {
    visibility: hidden;
}


/* Smoke detectors */


.nest_smoke_border {
    display: inline-block;
    position: relative;
    height: 175px;
    width: 175px;
    border-radius: 25px;
    z-index: 1000;
}
.nest_smoke_border_gray {
    background-color: #B8B8BE;
}
.nest_smoke_border_green {
    background-color: #39C226;
}
.nest_smoke_border_yellow {
    background-color: #FBCD36;
}
.nest_smoke_border_red {
    background-color: #E63117;
}

.smoke_status_label {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);%;
    color: black;
}

.obj_smoke {
    display: block;
    position: relative;
    height: 163px;
    width: 163px;
    vertical-align: middle;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 19px;
    z-index: 1100;
}
.obj_smoke_online {
    background-color: white;
}
.obj_smoke_offline {
    background-color: #B8B8BE;
}


/* Cameras */


.img_nest_cam {
    margin: 10px 35px;
    top: 0;
    width: 105px;
    height: 105px;
    z-index: 1000;
}


/* Device type dropdowns */

.nest_device_type_header {
    padding: 5px 15px;
    width: 100%;
    height: 50px;
    margin: 5px 0px;
}
.nest_device_type_body {
    padding: 5px 15px;
    width: 100%;
}